@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 37, 108, 184;
  --background-end-rgb: 255, 203, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    45deg,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  min-height: 100vh;
}

.pokemon-title {
  font-family: 'Pokemon Solid', sans-serif;
  -webkit-text-stroke: 2px #3761A8;
  color: #FECA1B;
  text-shadow: 4px 4px 0px #3761A8;
  letter-spacing: 2px;
  font-size: 48px;
  text-align: center;
}

